<!-- <h3>Name: <%= @product.name %></h3>
<p>Image: <%= @product.image %></p>
<p>Mat Price: $<%= @product.price %></p>
<p>Tax: $<%= @product.tax %> </p>
<p>Total: $<%=@product.total %></p>
<p><%= @product.sales_message %></p>
<p>Description: <%= @product.description %></p> -->