<h3>Name: <%= @product.name %></h3>
<p>Image: <%= @product.image %></p>
<p>Mat Price: $<%= @product.price %></p>
<p>Tax: $<%= @product.tax %> </p>
<p>Total: $<%=@product.total %></p>
<p><%= @product.sales_message %></p>
<p>Description: <%= @product.description %></p>
<div><a class="btn btn-default" href="/products/<%= @product.id%>/edit">Edit</a></div>
<a class="btn btn-default" href= "/products"> Home Page</a>
<%= form_tag "/products/#{@product.id}", method: :delete do %> 
  <input type="Submit" value="Destroy Yoga Mat">
<% end %> 

